h1{
    color:gray;
    font-style: italic;
    text-align: center;

}
h2{
    color:indigo;
    font-style: italic;
    text-align: center;

}

.input {
    text-align: center;
  }
.message{
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

